doctype html
html
	head
		title Programming!
		meta(charset='utf-8')
		link(rel='stylesheet', href='./resources/style.css')
		// Libraries {
		// TODO: use bower

		// Ace
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js')

		// jQuery
		script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')

		// Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

		// Bootstrap Select
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')

		// Vue
		script(src='https://unpkg.com/vue')


		// }
	body
		// Main wrap {
		#main-wrap
			// Toolbar {
			#toolbar(role='toolbar')

				// Editor buttons
				span#editor-toolbar
					// Language select {
					label(for='language-select') Language
					select#language-select.selectpicker.show-tick.show-menu-arrow(
						name='select', aria-label='Select language',
						@change='updateLanguage',
						v-model='currentLanguage'
					)
						option(v-for='lang in supportedLanguages', :value='lang.value') {{ lang.name }}
					// }

					// Program catalog
					// TODO use a v-for, dynamically bind, depend on language
					span.dropdown
						button#program-catalog.btn.btn-default.dropdown-toggle(
							type='button',
							data-toggle='dropdown',
							aria-haspopup='true',
							aria-expanded='false'
						) Program catalog #[span.caret]
						ul.dropdown-menu(aria-labelledby='program-catalog')
							template(v-for='group in programCatalog')
								li.dropdown-header {{ group.category }}
								template(v-for='command in group.commands')
									li: a(href='#',
										@click='insertCode(command.expand)'
									)
										| {{ command.name }}
								li.divider(role='separator')


					// Run code
					// TODO fix onclick for everything!
					button.btn.btn-primary(onclick='evalAll()', aria-label='Run code')
						span.glyphicon.glyphicon-play
						| &nbsp; Run code
					// Save
					button.btn.btn-default(onclick='saveToLocalStorage()', aria-label='Save')
						span.glyphicon.glyphicon-save
						| &nbsp; Save

				// Output buttons
				span#output-toolbar.pull-right
					// Ugh. Don't access t directly! Bind to a model or something!
					button.btn.btn-default(onclick='iframe.contentWindow.t.reset()', title='Shortcut: r')
						| Reset
					button.btn.btn-default(onclick='iframe.contentWindow.t.clear()', title='Shortcut: c')
						| Clear
					button.btn.btn-default(onclick='iframe.contentWindow.t.pendown()', title='Shortcut: ,')
						| Pen down
					button.btn.btn-default(onclick='iframe.contentWindow.t.penup()', title='Shortcut: .')
						| Pen up
					button.btn.btn-default(onclick='iframe.contentWindow.t.show()', title='Shortcut: \\')
						| Show
					button.btn.btn-default(onclick='iframe.contentWindow.t.hide()', title='Shortcut: \\')
						| Hide
					// TODO: bind to state: pen up/down and show/hide
				

			// } End toolbar

			// Code {
			#code.col-lg-6
				#editor(aria-label='Editor')
					// Code goes here
			// } End code

			// Output {
			#output.col-lg-6
				iframe#output-iframe(aria-label='Output')
					// Sandbox will be inserted here
			// } End output
		// } End main wrap

		script(src='src/main.js')
		script(src='src/load-iframe.js')
