doctype html
html
	head
		title Turtles!
		meta(charset='utf-8')
		link(rel='stylesheet', href='./resources/style.css')
		// Libraries {
		// TODO: use bower, requirejs

		// RequireJS
		// script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js')

		// Ace
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js')

		// jQuery
		script(src='https://code.jquery.com/jquery-3.1.1.js', integrity='sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=', crossorigin='anonymous')

		// Bootstrap
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

		// Bootstrap Select
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js')

		// Vue
		script(src='https://unpkg.com/vue')


		// }
	body
		// Main wrap {
		#main-wrap
			// Toolbar {
			#toolbar(role='toolbar')

				// Editor buttons
				span#editor-toolbar
					// Language select {
					label(for='language-select') Language
					select#language-select.selectpicker.show-tick.show-menu-arrow(
						name='select', aria-label='Select language',
						@change='updateLanguage',
						v-model='currentLanguage'
					)
						option(v-for='(lang, langVal) in supportedLanguages', :value='langVal') {{ lang }}
					// }

					// Command catalog
					// TODO use snippets
					span.dropdown
						button#command-catalog.btn.btn-default.dropdown-toggle(
							type='button',
							data-toggle='dropdown',
							aria-haspopup='true',
							aria-expanded='false'
						) Command catalog #[span.caret]
						ul.dropdown-menu(aria-labelledby='command-catalog')
							template(v-for='group in commandCatalog')
								li.dropdown-header {{ group.category }}
								template(v-for='command in group.commands')
									li: a(href='#',
										@click='insertCode(command.expand)'
									)
										| {{ command.name }}
								li.divider(role='separator')

					// Program list
					span.dropdown
						button#program-list.btn.btn-default.dropdown-toggle(
							type='button',
							data-toggle='dropdown',
							aria-haspopup='true',
							aria-expanded='false'
						) Program list #[span.caret]
						ul.dropdown-menu(aria-labelledby='program-list')
							template(v-for='program in programList')
								li: a(href='#',
									@click='loadSketch(program)'
								)
										| {{ program.name }}
								li.divider(role='separator')


					// Run code
					// TODO fix onclick for everything!
					// Save
					button.btn.btn-default(onclick='saveToLocalStorage()', aria-label='Save')
						span.glyphicon.glyphicon-save
						| &nbsp; Save
					button.btn.btn-primary(onclick='evalAll()', aria-label='Run code')
						span.glyphicon.glyphicon-play
						| &nbsp; Run code
					button.btn.btn-danger(@click='t["stop!"]()', title='')
						span.glyphicon.glyphicon-stop
						| &nbsp; Stop executing

				// Output buttons
				span#output-toolbar.pull-right
					button.btn.btn-default(@click='t["killClones!"]()', title='')
						| Kill clones
					button.btn.btn-default(@click='t["reset!"]()', title='Shortcut: r')
						| Reset
					button.btn.btn-default(@click='t["clear!"]()', title='Shortcut: c')
						| Clear
					button.btn.btn-default(@click='t["pendown!"]()', title='Shortcut: ,')
						| Pen down
					button.btn.btn-default(@click='t["penup!"]()', title='Shortcut: .')
						| Pen up
					button.btn.btn-default(@click='t["show!"]()', title='')
						| Show
					button.btn.btn-default(@click='t["hide!"]()', title='')
						| Hide
					// TODO: bind to state: pen up/down and show/hide
				

			// } End toolbar

			// Code {
			#code.col-md-6.col-lg-6
				// Code goes under #editor
				#editor(aria-label='Editor')
			// } End code

			// Output {
			#output.col-md-6.col-lg-6
				iframe#output-iframe(src='./iframe-sandbox', aria-label='Output')
					// Sandbox will be inserted here
			// } End output


		footer
			.footer-copyright.text-center.py-3
				| Made by <a href="https://kylefeng28.github.io">Kyle Feng</a>
		// } End main wrap

		script(src='src/models.js')
		script(src='src/helpers.js')
		script(src='src/main.js')
